* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
}

#app {
	width: 100%;
	background: rgb(44, 44, 47);
	color: white;
	display: grid;
	place-items: center;
	overflow: auto;
	max-height: 100vh;
	scroll-behavior: smooth;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(5px);
}

dialog {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgb(39, 39, 41);
	color: white;
	border-radius: 5px;
	width: 50%;
	height: 30%;
	border: none;
	text-align: center;
	line-height: 3;
	padding: 20px;
}

dialog[open] {
	display: grid;
	place-items: center;
	gap: 10px;
}

dialog > div {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	cursor: pointer;
	transition: all 0.5s ease;
	display: grid;
	place-items: center;
}

dialog > div:hover {
	border-radius: 50%;
	background: rgb(30, 30, 30);
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.refresh_button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 50px;
	right: 50px;
	cursor: pointer;
	display: grid;
	place-items: center;
	transition: all 0.2s ease;
}

.refresh_button:hover {
	background: rgba(0, 0, 0, 0.3);
}

.refresh_button img {
	width: 20px;
}

.clear_storage {
	width: 150px;
	height: 50px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 50px;
	left: 50px;
	cursor: pointer;
	display: grid;
	place-items: center;
	transition: all 0.2s ease;
	cursor: pointer;
}

.clear_storage:hover {
	background: rgba(0, 0, 0, 0.3);
}

#MainSection {
	width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
	grid-template-rows: 2fr 1fr 1fr 3fr 2fr;
	gap: 15px;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

form input {
	min-width: 400px;
	height: 40px;
	border-radius: 5px;
	border: none;
	outline: none;
	background: rgba(0, 0, 0, 0.2);
	padding: 0px 10px;
	color: white;
	transition: all 0.2s ease;
}

form input:hover {
	background: rgba(0, 0, 0, 0.3);
}

form button {
	width: 70px;
	height: 40px;
	border-radius: 5px;
	border: none;
	outline: none;
	background: rgb(34, 34, 34);
	color: white;
	cursor: pointer;
	transition: all 0.2s ease;
	animation: shake 0.2s ease paused;
}

form button:hover {
	background: rgb(21, 21, 21);
}

h1 {
	text-decoration: underline;
	text-underline-offset: 8px;
	letter-spacing: 0.03rem;
}

#app ol {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.CodingList {
	padding-inline: clamp(10px, 7vw, 70px);
	max-width: 1000px;
	min-width: 300px;
}

.NestedList {
	margin: 8px 0px 0px 20px;
}

a {
	color: white;
}

.get_joke {
	padding: 10px 15px;
	border-radius: 5px;
	background: white;
	display: grid;
	place-items: center;
	color: black;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	border: none;
	outline: none;
	background: rgb(21, 21, 21);
	color: white;
}

.xgen_button {
	min-width: 300px;
	min-height: 90px;
	border-radius: 5px;
	background: white;
	display: grid;
	place-items: center;
	color: black;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
	animation: pulse 1s ease infinite;
	cursor: pointer;
	border: none;
	outline: none;
	background: rgb(21, 21, 21);
	color: white;
}

.xgen_button > div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

#BacktoTop a {
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: grid;
	place-items: center;
	background: grey;
	font-size: 25px;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
	transition: transform 0.2s ease;
}

#BacktoTop:hover a {
	transform: translateY(-5px);
}

@media (max-width: 920px) {
	#MainSection {
		padding-top: 140px;
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes shake {
	0% {
		transform: translateX(5px);
	}
	33% {
		transform: translateX(0px);
	}
	66% {
		transform: translateX(-5px);
	}
	100% {
		transform: translateX(0px);
	}
}
